body {
    background-image: url(../media/background-image.jpeg);
    background-size: cover; /* para ajustar la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat;
    background-position: center center;
  }
  